PORT=4003
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/recipe_manager
JWT_SECRET=
GOOGLE_CLIENT_ID=
NODE_ENV=development
ADMIN_EMAIL=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=